---
# Copyright (c) 2024, NVIDIA CORPORATION.

ci:
  autoupdate_schedule: quarterly
  skip: [actionlint-docker]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-docker
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v1.2.1
    hooks:
      - id: verify-copyright
