---
# Copyright (c) 2024, NVIDIA CORPORATION.

ci:
  autoupdate_schedule: quarterly
  skip: [actionlint-docker]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-docker
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        args: ["--fix", "--config=pyproject.toml"]
      - id: ruff-format
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v1.4.3
    hooks:
      - id: verify-copyright
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.13.0'
    hooks:
      - id: mypy
        additional_dependencies:
          - "requests>=2.32.4"
          - "types-requests>=2.32.4"
        args:
          - "--config-file=pyproject.toml"
          - "check_nightly_success/"
        pass_filenames: false
