# Copyright (c) 2024-2026, NVIDIA CORPORATION.

[tool.ruff]
line-length = 120
target-version = "py310"

[tool.ruff.lint]
select = [
    # flake8-bugbear
    "B",
    # flake8-datetimez
    "DTZ",
    # pycodestyle
    "E",
    # pyflakes
    "F",
    # isort
    "I",
    # numpy
    "NPY",
    # perflint
    "PERF",
    # flake8-pie
    "PIE",
    # flake8-return
    "RET",
    # ruff-exclusive checks
    "RUF",
    # pyupgrade
    "UP",
    # flake8-bandit
    "S",
]
ignore = [
    # Incompatible with D211
    "D203",
    # Incompatible with D213
    "D213",
    # Incompatible with ruff-format
    "COM812",
    "ISC001",
]
fixable = ["ALL"]
